<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>

<!-- LOGO DE FUNDO -->
<div class="logo-fundo">
    <img src="{{ url_for('static', filename='logo.png') }}">
</div>

<!-- OVERLAY -->
<div class="overlay"></div>

<!-- TOPO -->
<div class="topo">

    <!-- WELCOME PREMIUM -->
    <div class="welcome">
        <h1>
            Bem-vindo,
            <span>{{ session['nome'] }}</span>
        </h1>
        <p class="welcome-sub">
            Estamos prontos para continuar seu trabalho
        </p>
    </div>

